<div id="form-popup">
  <form id="form-container">
    <h1>New Product</h1>
    <input id="name" type="text" placeholder="Name" name="name">
    <input id="type" type="text" placeholder="Type" name="type">
    <input id="price" type="number" placeholder="Price" name="price" step="0.01">
    <input id="description" type="text" placeholder="Description" name="description">
    <button id="save-prod" type="submit">Save</button>
    <button id="cancel-btn" type="button">Close</button>
  </form>
</div>