<%- include('./partials/head') %>
<%- include('./partials/fonts') %>
  <script src="/script.js" defer></script>
  </head>
<body>
  <nav>
    <%- include('./partials/nav') %>
  </nav>
  <main>
    <div class="page-header">
      <h2>Welcome to Feet First</h2>
      <p>Find races near you.</p>
    </div>

    <div class="race-box">
      <!-- list races as race -->
       <!-- race title, description, date -->
    </div>
  </main>

</body>
