:root{
  --clr-lipstick: #C55A83;
  --clr-denim: #283B58;
  --clr-pink-paper: #F4E1E8;
  --clr-blush-paper: #EDC5C0;
  --clr-spruce-leaf: #1E5431;
  --clr-cherry: #A61C3C;
  --clr-aqua: #91CAC5;
  --clr-dark-ink: #131C2A;
  --clr-robin-egg: #A5CFE3;

}

main.race-details{
    display: flex;
    gap: 2em;

    section{
        padding: 2em;
    }
}

section.race-left{
    width: 40%;
    padding-top: 10em;
}

section.race-right{
    background-color: var(--clr-pink-paper);
    border: var(--clr-denim) 3px solid;
    width: 60%;
}

.author-card{
    display: flex;
    flex-direction: column;
    border: var(--clr-dark-ink) 2px solid;
    border-radius: 2em;
    padding: 2em;
    background-color: var(--clr-robin-egg);
    transition: 0.5s ease;
}

.author-card:hover{
    background-color: var(--clr-pink-paper);
}

.race-photo{
    max-height: 400px;
    border-radius: 1em;
}


ul.races{
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
}


mark{
    background-color: var(--clr-denim);
    color: var(--clr-pink-paper);
    padding: 0.5em 1em;
}

ul.races li{
    border: var(--clr-dark-ink) 2px solid;
    border-radius: 1em;
    background-color: var(--clr-denim);
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

img.race-preview{
    max-height: 200px;
    width: 200px;
    object-fit: cover;
}

.participants{
    margin-top: 2em;
}