/* colors */

:root{
  --clr-lipstick: #C55A83;
  --clr-denim: #283B58;
  --clr-pink-paper: #F4E1E8;
  --clr-blush-paper: #EDC5C0;
  --clr-spruce-leaf: #1E5431;
  --clr-cherry: #A61C3C;
  --clr-aqua: #91CAC5;
  --clr-dark-ink: #131C2A;
  --clr-robin-egg: #A5CFE3;

}

/* formatting below */

body{
  font-family: "Open Sans", sans-serif;
  background-color: var(--clr-blush-paper);
  padding: 0px;
  margin: 0px;
  color: var(--clr-dark-ink);
}

select {
  padding: 0.5em;
}

input.file-upload{
  padding: 0.5em; 
}

button{
  padding: 1em 2em;
  font-family: "Open Sans", sans-serif;
  background-color: var(--clr-robin-egg);
  color: var(--clr-dark-ink);
  border: none;
  border-radius: 1em;
  display: block;
}

button:hover{
  background-color: var(--clr-denim);
  color: var(--clr-pink-paper);
}

a{
  text-decoration: none;
}




/* nav bar */

nav{
  background-color: var(--clr-lipstick);
  border-radius: 0px 20px 20px 0px;
  margin-top: 0.75em;
  padding: 0 5em;
  width: fit-content;
  font-size: large;

  transition: width ease-in 0.5s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
  }
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  transition: all linear 0.5s;
}

li a:hover:not(.active) {
  background-color: var(--clr-cherry);
}

/* main content */

main{
  padding: 2em 10em;
}

/* profile details */
.profile-photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px var(--clr-dark-ink) solid;
}

/* forms */

form{
  max-width: 400px;
  padding: 0em 0.5em;
  input{
    display: block;
    padding: 0.5em;
  }

  button{
    padding: 0.75em 2em;
    margin: 2em 0em;
    background-color: var(--clr-lipstick);
    border: var(--clr-cherry) 1px solid;
    border-radius: 1em;
  }
}

/* races */

ul.races{
  display: flex;
  gap: 3em;
}

li.race-item{
  background-color: var(--clr-blush-paper);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.race-preview{
  height: 200px;
  max-width: 200px;
}

/* fonts */

.center{
  text-align: center;
}

.underline{
  text-decoration: underline solid var(--clr-dark-ink) 2px;
}

.bold{
  font-weight: bolder;
}


.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
